build/
build-linux-*/
build-windows-*/
dist-linux-*/
dist-windows-*/
.sqgipkg/

# valac / cc spill outside build/
*.o
*.vala.c
*.vala.h

debian/auto*
debian/debhelper*
debian/.debhelper/
debian/tmp/
debian/*.debhelper.log
debian/*.substvars
debian/files
debian/*/DEBIAN/
debian/*/usr/
build-dir/*

# stray valac output in source trees
libocsqlite/*.c

.flatpak-builder/*
.gdb_history
.vscode/
.cursorindexingignore
.specstory/
