build/
build-*/
dist-*/
.sqgipkg/
.android-sdk/
.android-tools/
.pixiewood/
.buildconfig
subprojects/

# Downloaded for Windows portable bundle (see scripts/build-windows-dir.sh)
resources/fonts/NotoColorEmoji.ttf

# valac / cc spill outside build/
*.o
*.vala.c
*.vala.h

debian/auto*
debian/debhelper*
debian/.debhelper/
debian/tmp/
debian/*.debhelper.log
debian/*.substvars
debian/files
debian/*/DEBIAN/
debian/*/usr/
build-dir/*

# stray valac output in source trees
libocsqlite/*.c

.flatpak-builder/*
.gdb_history
.vscode/
.cursorindexingignore
.specstory/
