#!/usr/bin/make -f

export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_configure:
	meson setup build --prefix=/usr

override_dh_auto_build:
	ninja -C build

override_dh_auto_install:
	DESTDIR=$(CURDIR)/debian/tmp ninja -C build install

override_dh_auto_test:
	# Tests can be run here if needed
